{% extends 'base-front.html.twig' %}


  {% block body %}

			
			<!-- 
			=============================================
				About Company Stye Two
			============================================== 
			-->
			<div class="about-compnay-two no-bg section-spacing">
				<div class="overlay">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-12 text order-lg-last">
								<div class="theme-title-one">
									<h2>STOP</h2>
								</div> <!-- /.theme-title-one -->
								<p>Sorry, your account has been blocked.
								</p>
                                <p>Please contact the administrator for more information.
								</p>
                                
								<img src="{{ asset('front/images/signature-black.svg') }}" alt="" class="sign">
							</div> <!-- /.col- -->
							<div class="col-lg-6 col-12 order-lg-first">
								<img src="{{ asset('front/images/block/block.png') }}"alt="" class="left-img img-fluid mt-5">
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.about-compnay-two -->


  {% endblock %}