{% extends 'base-client.html.twig' %}

{% block footer %}{% endblock %}

{% block body %}
<main >
  <div class="container my-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            Modify Your Profile
          </div>
          <div class="card-body">
    {{ form(form) }}
  </div>
   </div>
    </div>
    </div>
    
</main>
{% include 'specific-content.html.twig' %}
{% endblock %}