{% extends 'base-client.html.twig' %}

{% block footer %}{% endblock %}

{% block body %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y ">
  <div class="container d-flex justify-content-center  pt-1000">
    {{ form(form) }}
  </div>
</main>
{% endblock %}